<div class="span-24">
	<h2>Tournament Draw</h2>
</div>

<%= render :partial=> 'round', :locals => {:size_of_round=>256,:round=>1,:max_rounds=>8}%>
<%= render :partial=> 'round', :locals => {:size_of_round=>128,:round=>2,:max_rounds=>8}%>
<%= render :partial=> 'round', :locals => {:size_of_round=>64,:round=>3,:max_rounds=>8}%>
<%= render :partial=> 'round', :locals => {:size_of_round=>32,:round=>4,:max_rounds=>8}%>
<%= render :partial=> 'round', :locals => {:size_of_round=>16,:round=>5,:max_rounds=>8}%>
<%= render :partial=> 'round', :locals => {:size_of_round=>8,:round=>6,:max_rounds=>8}%>
<%= render :partial=> 'round', :locals => {:size_of_round=>4,:round=>7,:max_rounds=>8}%>
<%= render :partial=> 'round', :locals => {:size_of_round=>2,:round=>8,:max_rounds=>8}%>

